body {
  background-color: #ff7f50;
}

#header {
  background-color: #FF5A1D;
}

#header h3 {
  margin: 1em 1em 1em 5px;
  color: black;
}

#header-icon {
  max-width: 25%;
  border-radius: 35px;
  margin: 5px 3px 5px 3px;
}

.card {
  margin: 2em 5em 1em 5em;
  border-radius: 7px;
}

#info-body {
  padding: 1em 2em 1em 2em;
}

#featured-card ul {
 list-style-type: none;
}

#featured-card li {
  margin: 1em 1em 1em 1em;
}